<div class="container">
  <div class="row">
      <div class="col-md-4 offset-md-1 section-4 " *ngFor="let user of users">
          <div class="container-img">
             <img [src]="user.avatar_url">
          </div> 
          <p> {{user.login}}</p>
          <div class="row">
             <div class="col-md-12 ">
                <button *ngIf="type === 'admin'" mdbBtn (click)="showDetailsUser(user.login)" type="button" color="indigo" mdbWavesEffect>voir +</button>
              </div> 
          </div>

     </div>
  </div>



  <div mdbModal #detailsModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="detailsModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Information d'utilisateur</h4>
      </div>
      <div class="modal-body">
        <div class="content-modal" *ngIf="userCurrent && userCurrent ! null">
          <div class="container-img">
             <img [src]="userCurrent.avatar_url">
          </div> 
          <p><span class="_bold">login </span>:  {{userCurrent && userCurrent!= null && userCurrent.login != null ? userCurrent.login : '-'}}</p>
          <p><span class="_bold">Nom </span>:{{userCurrent && userCurrent!= null && userCurrent.name != null ? userCurrent.name : '-'}}</p>
          <p><span class="_bold">Nombre de suiveurs: </span>:  {{userCurrent && userCurrent!= null  && userCurrent.followers > 0 ? userCurrent.followers: '0'}}</p>
          <p><span class="_bold">Nombre de repos: </span>:  {{userCurrent && userCurrent!= null  && userCurrent.public_repos > 0 ? userCurrent.public_repos: '0'}}</p>
            <p><span class="_bold">Type de profile : </span>:  {{userCurrent && userCurrent!= null  && userCurrent.bio != null ? userCurrent.bio : 'DEV'}}</p>
          
     </div>
      </div>
     
    </div>
  </div>
</div>
</div>  